[type=radio] {
  display: none;
}
  
#slider {
  margin-top: 40px;
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
  
#slider label {
  margin: auto;
  width: 50%;
  height: 83%;
  min-width: 300px;
  min-height: 200px;
  max-width: 900px;
  max-height: 520px;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}
  
#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}
  
#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}
  
#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}
  
#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}
  
#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}
  
#slide1 { 
  background: #66545e; 
  color: black; 
}

#slide2 {
  background: #a39193; 
  color: black;
}

#slide3 { 
  background: #f6e0b5;
  color: black;
}

#slide4 { 
  background: #eea990;
  color: black;
}

#slide5 {
  background: #aa6f73;
  color: black;
}

.slideshow_img {
  width: 100%;
  border-radius: 4px;
}

.slideshow_info {
  position: absolute;
  width: 22%;
  right: 3%;
  top: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow_vid_data {
  position: absolute;
  bottom: 5px;
  right: 25%;
  background-color: rgba(78, 78, 78, 0.555);
  height: 20px;
  color: white;
  border-radius: 3px;
  text-align: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.slideshow_vid_data > span {
  margin-left: 3px;
  margin-right: 3px;
}

.streamer_name.slideshow_streamer {
  text-align: left;
}

.slideshow_info .streamer_img {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  #slider label {
    height: 72%;
  }
}