.footer {
    grid-row: 4/5;
    grid-column: 2/5;
    clear: both;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
