.header {
    grid-column: 1/5;
    position: sticky;
    width: 100%;
    height: 50px;
    top: 0;
    box-shadow: 0 0 10px #66545e;
    padding: 10px;
    box-sizing: border-box;
    z-index: 20000;
    background-color: #f6e0b5;
}

.header > .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #66545e;
    font-family: Garamond;
}

#end {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

#middle {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 30%;
}

#start {
    display: flex;
    flex-direction: row;
}

#start > h1 {
    cursor: pointer;
}

.fa-microphone {
    margin-left: 10px;
    color: #66545e;
}

.fa-microphone:hover {
    cursor: pointer;
    color: #eea990;
}

.fa-bell {
    margin-right: 10px;
    color: #66545e;
}

.fa-bell:hover {
    cursor: pointer;
    color: #eea990;
}

.profile_icon {
    height: 30px;
    width: 30px;
    background-color: #66545e;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 20px;
}

.fa-paw.profile_pic {
    color: black;
    position: relative;
    top: 5px;
    left: 5px;
}

.fa-cat.title_pic {
    color: #66545e;
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.fa-circle {
    color: red;
}


.search_form {
    display: flex;
    flex-direction: row;
    padding: 2px;
    width: 100%;
    min-width: 200px;
    height: 20px;
}

.input_search {
    height: 25px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}

.input_search:focus {
    outline: 2px solid #66545e;
}

.input_search::placeholder {
    padding-left: 10px; 
} 

.search_submit{
    height: 27px;
    float: left;
    width: 20%;
    background: #66545e;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
}

.search_submit:hover {
    cursor: pointer;
    background: #eea990;
}

/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fdf2dc;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:nth-child(3) {
    color: #e05846;
}
  
.dropdown-content a:hover {
    background-color: #ffecc5;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .profile_icon {
    background-color: #eea990;
}

.menu_pic {
    margin-right: 5px;
}