.main_page {
    grid-column: 2/5;
    grid-row: 2/6;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.container_main_page {
    display: flex;
    flex-direction: column;
    
}

/* this part hides scrollbar while keeping functionality */
/* .main_page::-webkit-scrollbar {
    visibility: hidden;
} */
