.side_panel {
    grid-row: 2/6;
    max-height: calc(100vh - 50px);
}

.container_side_panel {
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
}

.container_side_panel::-webkit-scrollbar {
    display: none;
}