.social_networks {
    margin-top: 1px;
    grid-row: 5;
    height: 130px;
    background-color: #f6e0b5;
    position: sticky;
    bottom: 0;
}

.social_networks_block {
    height: 100px;
    margin: 10px;
    padding-top: 10px;
    background-color: #fdf2dc; 
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.social_network_icons {
    margin: 10px 43px 0 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social_networks_span::selection {
    color: #f6e0b5;
    background-color: #eea990;
}

.fa-telegram:hover, .fa-instagram:hover, .fa-facebook:hover {
    color: #eea990;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .social_networks_block {
        display: none;
    }
}