.streamers {
    width: 100%;
    height: calc(100vh - 50px - 131px);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f6e0b5;
    overflow-y: scroll;
}

.streamers::-webkit-scrollbar {
    display: none;
}

.streamer {
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.streamer:hover {
    background-color: #eea990;
    cursor: pointer;
}

.streamer > .viewers > .fa-circle {
    font-size: 10px;
}

.streamer_img {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.streamer_info{
    display: flex;
    flex-direction: row;
    width: 140px;
    text-align: left;
}

.streamer_info > span {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.streamer_info > span:hover {
    color: #fcf1de;
}

.viewers{
    width: 100%;
    text-align: right;
    margin-right: 10px;
    line-height: 40px;
}
