* {
    margin: 0;
    padding: 0;
    font-family: Garamond;
}

body {
    background-color: #fdf2dc;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 1fr 131px;
    height: 100%;
}

.carousel {
    grid-row: 2/3;
    grid-column: 2/5;
}


@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 50px 1fr 1fr 1fr;
    }
}