.tags {
    grid-row: 1/2;
    grid-column: 2/5;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.tags::-webkit-scrollbar {
    display: none;
  }

.tag_block {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: #f6e0b5;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.tag_block:nth-child(1) {
    background-color: #aa6f73;
    color: white;
}

.tag_block > span {
    margin-left: 5px;
    margin-right: 5px;
}

.tag_block:hover {
    background-color: #eea990;
}
