.videos {
    grid-row: 3/4;
    grid-column: 2/5;
}

.container_videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: calc(100vh - 35vw - 200px);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.video_block {
    margin: 5px;
}

.video_preview_block {
    position: relative;
}

.preview_fadeIn > i {
    opacity: 0%;
    visibility: hidden;
}

.streamer_live {
    position: absolute;
    background-color: #e05846;
    color: white;
    left: 10px;
    top: 10px;
    border-radius: 3px;
    text-align: center;
    z-index: 2000;
    cursor: pointer;
}

.streamer_live > span {
    margin-left: 3px;
    margin-right: 3px;
}

.watching_data {
    position: absolute;
    background-color: rgba(78, 78, 78, 0.555);
    height: 20px;
    color: white;
    right: 10px;
    bottom: 10px;
    border-radius: 3px;
    text-align: center;
    z-index: 2000;
    cursor: pointer;
}

.watching_data > span {
    margin-left: 3px;
    margin-right: 3px;
}

.video_preview_img {
    width: 100%;
    height: auto;
}

.preview_fadeIn {
    filter: brightness(100%);
}

.preview_fadeIn:hover > img {
    filter: brightness(75%);
    transition: filter 0.5s;
}

.preview_fadeIn:hover > i:hover {
    filter: brightness(100%);
    cursor: pointer;
    transition: filter 0.5s;
}

.video_preview_block:hover i {
    visibility: visible;
    opacity: 100%;
    transition: opacity 0.5s;
}

.video_description{
    display: flex;
    flex-direction: row;
    height: 37px;
}

.video_description_lines {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-right: 2%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.video_title {
    font-weight: 700;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video_title:hover {
    color: #e05846;
    cursor: pointer;
}

.video_title::selection {
    color: #f6e0b5;
    background-color: #eea990;
}

.fa-paw.hover_visible {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    z-index: 2000;
    font-size: 30px;
}

.streamer_name {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.streamer_name:hover {
    color: #e05846;
    cursor: pointer;
}

.streamer_name::selection {
    color: #f6e0b5;
    background-color: #eea990;
}

.video_description_more {
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
}

.video_description_more:hover {
    cursor: pointer;
}
